<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Compte</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
</head>
<body>
{% include 'navigationMenu.html' %}
{% if messages %}
    <div style="width: 80%; margin-top: 50px; margin-right: auto; margin-left: auto; text-align: center;">
        {% for message in messages %}
            <div style="margin-top: 25px;
                        {% if message.tags == 'success' %}color: green;
                        {% elif message.tags == 'error' %}color: red;
                        {% endif %}">
                {{ message }}
            </div>
        {% endfor %}
    </div>
{% endif %}
<div style="justify-content: center; margin-left: auto; margin-right: auto; margin-top: 50px; display: flex; flex-wrap: wrap;">
    <div style="width: 80%; justify-content: center; margin: auto; display: flex; flex-wrap: wrap; border-bottom: 1px solid black;">
        <h2 style="width: 100%; text-align: center; font-weight: 400;">Mon Compte</h2>
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" style="align-items: center; text-align: center; margin-left: auto; margin-right: auto; display: flex; justify-content: center; margin-top: 40px; margin-bottom: 50px; background-color: black; color: white; font-size: 100%; width: 125px; height: 40px; border:none; border-radius: 5px"
                    name="update_info">
                Mettre à jour
            </button>
        </form>
    </div>
    <div style="width: 80%; justify-content: center; margin: auto; display: flex; flex-wrap: wrap; padding-top: 25px; border-bottom: 1px solid black;">
        <h2 style="width: 100%; text-align: center; font-weight: 400;">Changer le mot de passe</h2>
        <form method="POST">
            {% csrf_token %}
            {{ pass_form.as_p }}
            <button type="submit" style="align-items: center; text-align: center; margin-left: auto; margin-right: auto; display: flex; justify-content: center; margin-top: 40px; margin-bottom: 50px; background-color: black; color: white; font-size: 100%; width: 125px; height: 40px; border:none; border-radius: 5px"
                    name="change_password">
                Changer
            </button>
        </form>
    </div>
    <div style="width: 80%; justify-content: center; margin: auto; display: flex; flex-wrap: wrap; margin-bottom: 75px; padding-top: 25px;">
        <h2 style="width: 100%; text-align: center; font-weight: 400;">Désactiver le compte</h2>
        <form method="POST">
            {% csrf_token %}
            <button type="submit" style="align-items: center; text-align: center; margin-left: auto; margin-right: auto; display: flex; justify-content: center; margin-top: 10px; background-color: red; color: white; font-size: 100%; width: 125px; height: 40px; border:none; border-radius: 5px"
                    name="deactivate_account"
                    onclick="return confirm('Êtes-vous sûr(e) ?');">
                Désactiver
            </button>
        </form>
    </div>
</div>
</body>
</html>
<style>
  .helptext {
    display: block;
    margin-top: 4px;
    color: gray;
    font-size: 0.9em;
  }
    input, select, textarea {
        focus: none;
        outline: none;
        font-size: 105%;
        font-weight: 100;
  }
</style>
</style>