<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Diagnostic du Stress</title>
    <script src="https://unpkg.com/htmx.org@1.9.2"></script>
</head>
<body>
{% include 'navigationMenu.html' %}
<div style="margin: auto;  justify-content: center; display:flex; flex-wrap: wrap;">
    <h1 style="width: 100%; text-align: center;">Échelle de stress de Holmes et Rahe</h1>
    <form hx-post="{% url 'cesizenapp:submit_diagnostic' %}"
          hx-target="#diagnostic-result"
          hx-swap="innerHTML">
        {% csrf_token %}
        {% for event, value in events %}
            <div style="margin-bottom: 10px;">
                <label>
                    <input type="checkbox" name="events" value="{{ value }}">
                    {{ event }}
                </label>
            </div>
        {% endfor %}

        <button type="submit" style="background-color: black; color: white; font-size: 100%; margin-top: 50px; margin-bottom: 75px; width: 125px; height: 40px; justify-content: center; display: flex; outline: none; border: none; align-items: center; margin-left: auto; margin-right: auto">
            Soumettre
        </button>
    </form>
</div>
    <div id="diagnostic-result">
    </div>
</body>
</html>
