<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Rediger un post</title>
    <div style="width: 200px; margin-left: 20px;">
        <a href="" style="text-align: left; width: 200px; font-size: 120%; text-decoration: none; color: black;">
            <p> Informations </p>
        </a>
        <a href="" style="text-align: left; width: 200px; font-size: 120%; text-decoration: none; color: black;">
            <p> Diagnostic </p>
        </a>
        <a href="" style="text-align: left; width: 200px; font-size: 120%; text-decoration: none; color: black;">
            <p> Compte </p>
        </a>
        {% if user.is_superuser %}
            <a href="" style="text-align: left; width: 200px; font-size: 120%; text-decoration: none; color: black;">
                <p> Rediger un post </p>
            </a>
        {% endif %}
    </div>
</head>
<body>

</body>
</html>