<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Rediger un post</title>
    <div style="width: 200px; margin-left: 20px;">
        <a href= "{% url 'cesizenapp:home' %}" style="text-align: left; width: 200px; font-size: 120%; text-decoration: none; color: black;">
            <p> Informations </p>
        </a>
        <a href="" style="text-align: left; width: 200px; font-size: 120%; text-decoration: none; color: black;">
            <p> Diagnostic </p>
        </a>
        <a href="" style="text-align: left; width: 200px; font-size: 120%; text-decoration: none; color: black;">
            <p> Compte </p>
        </a>
        {% if user.is_superuser %}
            <a href="{% url 'cesizenapp:postInformation' %}" style="text-align: left; width: 200px; font-size: 120%; text-decoration: none; color: black;">
                <p> Rediger un post </p>
            </a>
        {% endif %}
    </div>
</head>
<body>
{% if messages %}
    <ul style="color: green;">
        {% for message in messages %}
            <li>{{ message }}</li>
        {% endfor %}
    </ul>
{% endif %}
<div style="justify-content: left; display: flex; width: 300px; margin: auto;">
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.non_field_errors }}

    <div>
        <label for="{{ form.title.id_for_label }}" style="color: blue; font-weight: bold;">
          {{ form.title.label }}
        </label><br>
        {{ form.title }}
    </div>
    <div>
        <label for="{{ form.caption.id_for_label }}" style="color: green; font-style: italic;">
          {{ form.caption.label }}
        </label><br>
        {{ form.caption }}
    </div>
    <div>
        <label for="{{ form.content.id_for_label }}" style="font-weight: 600;">
          {{ form.content.label }}
        </label><br>
        {{ form.content }}
    </div>
    <div>
        <label for="{{ form.image.id_for_label }}" style="color: purple;">
          {{ form.image.label }}
        </label><br>
        {{ form.image }}
    </div>
    <div>
        <label for="{{ form.alt.id_for_label }}" style="font-style: italic; color: darkgray;">
          {{ form.alt.label }}
        </label><br>
        {{ form.alt }}
    </div>
    <div>
        <label for="{{ form.category.id_for_label }}" style="font-weight: bold;">
          {{ form.category.label }}
        </label><br>
        {{ form.category }}
    </div>
    <button type="submit">Publier</button>
</form>
</div>
</body>
</html>