<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Rédiger un post</title>
    <div style="width: 200px; margin-left: 20px;">
        <a href= "{% url 'cesizenapp:home' %}" style="text-align: left; width: 200px; font-size: 120%; text-decoration: none; color: black;">
            <p> Informations </p>
        </a>
        <a href="" style="text-align: left; width: 200px; font-size: 120%; text-decoration: none; color: black;">
            <p> Diagnostic </p>
        </a>
        <a href="" style="text-align: left; width: 200px; font-size: 120%; text-decoration: none; color: black;">
            <p> Compte </p>
        </a>
        {% if user.is_superuser %}
            <a href="{% url 'cesizenapp:postInformation' %}" style="text-align: left; width: 200px; font-size: 120%; text-decoration: none; color: black;">
                <p> Rédiger un post </p>
            </a>
        {% endif %}
    </div>
</head>
<body>
<h2 style = "text-align: center; display: flex; justify-content: center; margin-left: auto; margin-right: auto; margin-bottom: 50px;"> Rediger un post </h2>
<div style="justify-content: center; display: flex; width: 300px; margin: auto;">
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.non_field_errors }}

    <div style = "margin-bottom: 50px;">
        <label for="{{ form.title.id_for_label }}" style="text-align: center; display: flex; justify-content: center; margin: auto; font-weight: bold;">
          {{ form.title.label }}
        </label><br>
        {{ form.title }}
    </div>
    <div style = "margin-bottom: 50px;">
        <label for="{{ form.caption.id_for_label }}" style="text-align: center; display: flex; justify-content: center; margin: auto; font-weight: bold;">
          {{ form.caption.label }}
        </label><br>
        {{ form.caption }}
    </div>
    <div style = "margin-bottom: 50px;">
        <label for="{{ form.content.id_for_label }}" style="text-align: center; display: flex; justify-content: center; margin: auto; font-weight: bold;">
          {{ form.content.label }}
        </label><br>
        {{ form.content }}
    </div>
    <div style = "display: flex; margin: auto; width: 450px;">
        <label for="{{ form.image.id_for_label }}" style="font-weight: bold; width: 150px; text-align: right; margin-right: 25px;">
          {{ form.image.label }}
        </label><br>
        {{ form.image }}
    </div>
    <div style = "margin-bottom: 50px; margin-top: 50px;">
        <label for="{{ form.alt.id_for_label }}" style="text-align: center; display: flex; justify-content: center; margin: auto; font-weight: bold;">
          {{ form.alt.label }}
        </label><br>
        {{ form.alt }}
    </div>
    <div style = "display: flex; justify-content: center; margin: auto; padding-left: 70px; padding-right: 90px;">
        <label for="{{ form.category.id_for_label }}" style="text-align: center; display: flex; justify-content: center; margin: auto; font-weight: bold;">
          {{ form.category.label }}
        </label><br>
        {{ form.category }}
    </div>
<button type="submit" style="background-color: black; color: white; font-size: 100%; margin-top: 50px; margin-bottom: 150px; width: 125px; height: 40px; justify-content: center; display: flex; outline: none; border: none; align-items: center; margin-left: auto; margin-right: auto">
    {% if is_edit %}
        Modifier
        {% else %}
        Publier
    {% endif %}
</button>

</form>
</div>
</body>
</html>

<script>
    {% if messages %}
        {% for message in messages %}
            alert("{{ message|escapejs }}");
        {% endfor %}
    {% endif %}
</script>